@import "tailwindcss";

/* Dark mode*/
@custom-variant dark (&:where(.dark, .dark *));

/* Design tokens */
@theme {
  --color-bg: #fffdf7;
  --color-fg: #1d1a14;
  --color-surface: #ffffff;
  --color-surface-2: #fff3dc;
  --color-border: #eadfc8;
  --color-muted: #6c665b;

  /* Primary (honey) */
  --color-primary: #e2a84a;
  --color-primary-fg: #2a1a00;

  --color-success: #2f9e6c;
  --color-warning: #f2c14e;
  --color-danger: #e06464;

  /* Brand palette (warm amber) */
  --color-brand-50:  #fff8e8;
  --color-brand-100: #ffedc7;
  --color-brand-200: #ffd89b;
  --color-brand-300: #ffc170;
  --color-brand-400: #ffae4d;
  --color-brand-500: #e2a84a;
  --color-brand-600: #c98c2f;
  --color-brand-700: #9f6b20;
  --color-brand-800: #744d18;
  --color-brand-900: #4b3210;

  --radius-sm: 10px;
  --radius-md: 14px;
  --radius-lg: 18px;
  --radius-2xl: 26px;

  --shadow-soft: 0 10px 30px rgba(16, 24, 40, 0.08);
  --shadow-popover: 0 16px 60px rgba(16, 24, 40, 0.18);
}

/* Overrides */
.dark {
  --color-bg: #0c0b09;
  --color-fg: #f6f1e7;
  --color-surface: #15120d;
  --color-surface-2: #1b170f;
  --color-border: #2b2417;
  --color-muted: #c5bbaa;

  --color-primary: #f0c76b;
  --color-primary-fg: #2a1a00;

  --color-warning: #f3c969;
  --color-success: #43b37a;
  --color-danger: #e56b6b;
}

html, body {
  height: 100%;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
}

/* Utilities */
.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
